<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.author.name }}</h1>
      <p>{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% assign pages_list = site.pages | sort:"name" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

	  <!--
      <li class="sidebar-nav-item"><a href="{{ site.author.githuburl }}" target="_blank">GitHub Profile</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.author.twitterurl }}" target="_blank">Twitter Profile</a></li>
	  -->
	  <br>
	  <a href="mailto:shubham.s.aher@gmail.com" target="_blank">
		<span class="fa-stack">
			<!--<i class="fa fa-square-o fa-stack-2x fa-inverse"></i>-->
			<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
		</span>
	  </a>
	  <a href="http://facebook.com/shubham.aher" target="_blank">
		<span class="fa-stack">
			<!--<i class="fa fa-square-o fa-stack-2x fa-inverse"></i>-->
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
	  </a>
	  <a href="http://github.com/shubham-aher" target="_blank">
		<span class="fa-stack">
			<!--<i class="fa fa-square-o fa-stack-2x fa-inverse"></i>-->
			<i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span>
	  </a>
	  <a href="http://lnkd.in/MU39Qm" target="_blank">
		<span class="fa-stack">
			<!--<i class="fa fa-square-o fa-stack-2x fa-inverse"></i>-->
			<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		</span>
	  </a>
	  
    </ul>

    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
	<!--<p><font color="green" size="2">This is a personal blog. The opinions expressed here represent my own and not those of my employer.</font></p>-->

  </div>
</div>
